.field {
    mat-label {
        color:hotpink;
    }
    input[type=number] {
        width: 5em;
    }
    margin-bottom: 0.6em;
    span {
        display: block;
    }
    .button-container {
        display: inline-block;
        margin-right: 1em;
    }
}

.setup-field {
    width: 50px;
}

mat-slider {
    width: 80%;
}