
table {
    width: 100%;
    font-size: 125%;
}

.mat-header-cell {
    font-weight: bold;
    padding: 3px 0.2em;
    text-transform: capitalize;
}

.mat-cell {
    padding: 3px 0.2em;
}


.mat-column-round {
    text-align: center;
}


.mat-column-guess {
    text-align: right;
}

.mat-column-date {
    text-align: left;
}

.button-container {
    margin: 2em auto;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 135%;
    text-decoration: underline;
}
table.scoreboard {
    width:auto;
    margin:0 auto;
    th {
        padding: 0 0.2em 0 1em;
    }
}
.correct {
    color:#69f0ae;
}
.wrong {
    color: lightsalmon;
    font-weight: bold;
}