
table {
    width: 100%;
    font-size: 125%;
}

.mat-header-cell {
    font-weight: bold;
    padding: 3px 0.2em;
    text-transform: capitalize;
}

.mat-cell {
    padding: 3px 0.2em;
}


.mat-column-round {
    text-align: center;
}


.mat-column-guess {
    text-align: right;
}

.mat-column-date {
    text-align: left;
}

.button-container {
    margin: 1em auto;
    text-align: center;
}