<div class="card rules">
    <h2>Rules of Doomsday</h2>
    <div>
        <p>All these days happen on the same weekday!</p>
        <h3>Dates</h3>
        <ol>
            <li>Jan 3rd (4th on leap years)</li>
            <li>Feb 28th (29th on leap years)</li>
            <li>March 14 &pi; DAY!</li>
            <li>April 4th (4/4)</li>
            <li>May 9th</li>
            <li>June 6th (6/6)</li>
            <li>July 11th</li>
            <li>Aug 8th (8/8)</li>
            <li>Sep 5th</li>
            <li>Oct 10th (10/10)</li>
            <li>Nov 7th</li>
            <li>Dec 12th (12/12></li>
        </ol>
        <h3>Remember</h3>
        <ol>
            <li>4/4, 6/6, 8/8/, 10/10, 12/12</li>
            <li>Nine to Five at Seven Eleven</li>
            <li>PI day!</li>
            <li>Leap day on leap year!</li>
            <li>January 3rd, but fourth on leap years</li>
        </ol>
    </div>

</div>