
.round {
    h2 {
        text-align: center;
        font-size: 200%;
    }
    h3 {
        width: 100%;
        margin: 0.5em auto;
        text-align: center;
        font-size: 220%;
        color: #69f0ae;
    }
    .days {
        .button-container {
            margin: 0.35em 0;
            button {
                padding: 0.75em;
                width: 100%;
                overflow: hidden;
                .help-left {
                    float: left;
                    color: #aaa;
                }
                .help-text {
                    font-size: 155%;
                    padding: 0.4em ;
                }
                .help-right {
                    float: right;
                    color: #aaa;
                }
            }
        }
    }
    .round-time {
        float: left;
    }
    .game-time {
        float: right;
    }
    .meta {
        clear: both;
        overflow: hidden;
        margin: 1em 0;
    }
}

.mat-progress-bar.progress {
    height: 40px;
}
.mat-progress-bar.score {
    height: 22px;
}
