<div class="rules">
    <h2>Rules of Doomsday</h2>
    <div>
        <p>Score 1 point for each correctly "guessed" weekday. Lose 1 point for each mistake.</p>
        <p>Doomsday calulcations are done by knowing a year's "doomsday" and then calculating
            from the nearest one to the target date.</p>
        <h3>Doomsday dates</h3>
        <p>All these days happen on the same weekday!</p>
        <ol>
            <li>Jan 3rd (4th on leap years)</li>
            <li>Feb 28th (29th on leap years)</li>
            <li>March 14 &pi; DAY!</li>
            <li>April 4th (4/4)</li>
            <li>May 9th</li>
            <li>June 6th (6/6)</li>
            <li>July 11th</li>
            <li>Aug 8th (8/8)</li>
            <li>Sep 5th</li>
            <li>Oct 10th (10/10)</li>
            <li>Nov 7th</li>
            <li>Dec 12th (12/12)</li>
        </ol>
        <h3>Remember</h3>
        <ol>
            <li>4/4, 6/6, 8/8/, 10/10, 12/12</li>
            <li>Nine to Five at Seven Eleven</li>
            <li>PI day!</li>
            <li>Leap day on leap year!</li>
            <li>January 3rd, but fourth on leap years</li>
        </ol>
        <h3>Years</h3>
        <p>A year's weekday is calculated from the century's by adding 1 per year, plus 1 extra per leap year.</p>
        <p>2000s are Tuesday (2). 2004 would then be 4 + 1 days later, Saturday. For 1900s it was Wednesday (3)</p>
        <p>The century also "reset" on 28, 56 and 84. Meaning 2028, 2056 and 2084 also have Tuesday as Doomsday.</p>
    </div>

</div>