<div class="board" *ngIf="!showrules" [ngSwitch]="state" >
    <game-setup
        *ngSwitchCase="stateType.SETUP"
        [config]="config"
        (setupSaved)="configUpdated()"
    ></game-setup>
    <game-round
        *ngSwitchCase="stateType.ROUND"
        [round]="round"
        [score]="score"
        [config]="config"
        [showHelp]="showhelp"
        [gameTimePassed]="timer"
        (roundComplete)="guessWasMade($event)"
    ></game-round>
    <game-judge
        *ngSwitchCase="stateType.JUDGE"
        [round]="round"
        (next)="nextRound()"
    ></game-judge>
    <game-highscore
        *ngSwitchCase="stateType.HIGHSCORE"
        (restart)="restart()"
    ></game-highscore>
    <game-result
        *ngSwitchCase="stateType.RESULT"
        [rounds]="rounds"
        (restart)="restart()"
    ></game-result>
</div>
<game-rules *ngIf="showrules"></game-rules>
