<div class="board" *ngIf="!showrules" [ngSwitch]="state" >
    <game-setup
        *ngSwitchCase="States.SETUP"
        [config]="config"
        (setupSaved)="configUpdated()"
    ></game-setup>
    <game-round 
        *ngSwitchCase="States.ROUND"
        [round]="round"
        [score]="score"
        [config]="config"
        [showHelp]="showhelp"
        [gameTimePassed]="timer"
        (roundComplete)="guessWasMade($event)"
    ></game-round>
    <game-judge
        *ngSwitchCase="States.JUDGE"
        [round]="round"
        (next)="nextRound()"
    ></game-judge>
    <game-result
        *ngSwitchCase="States.RESULT"
        [rounds]="rounds"
        (restart)="restart()"
    ></game-result>
</div>
<game-rules *ngIf="showrules"></game-rules>
