
<div>

  <h2>Highscore list</h2>

  <ng-template #loadingBlock><shared-loading message="Loading Highscore list!"></shared-loading></ng-template>

  <div *ngIf="scores && scores.length > 0; else loadingBlock">

    <ol>
      <li *ngFor="let score of scores">
        {{score.name}} {{score.points}} {{score.time}}
      </li>
    </ol>

    <div class="button-container">
      <button (click)="this.next.emit()" mat-fab color="accent" aria-label="Start a new game">
          <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
