/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";


html, body { height: 100%; }
body {
    margin: 0;
    background: #424242;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #DDD;
}

#wrapper {
    padding: 1em 1em;
}

header {
    margin: 0 0 1em;
    padding: 0 0 0.5em;
    border-bottom: 1px dashed #ddd;
    h1 {
        margin: 0;
        padding: 0;
        font-size: 2em;
    }
}

footer {
    display: block;
    font-size: 75%;
    text-align: center;
    padding: 1em;
    margin: 5em auto 0;
    border-top: 1px dashed #aaa;
}